html,
body,
#root {
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

#root {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    background: linear-gradient(90deg,
            #0b1119 0%,
            #000000 30%,
            #000000 70%,
            #0b1119 100%);
    min-width: 0;
}

main {
    flex: 1 0 auto;
    margin: 0 auto;
    margin-top: 80px;
    padding: 0 10px;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    min-width: 0;
}

.main-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 0;
    overflow-x: hidden;
}

/* Em mobile, sidebar vira barra superior */
@media (max-width: 768px) {
    #root {
        flex-direction: column;
    }

    main {
        margin-left: 0;
        padding: 20px;
    }
}